header {
  background: linear-gradient(
    to right,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff
  );
  box-shadow: inset 3px -3px 30px #0aebd8, inset -4px 4px 4px #ffffff,
    0 0 20px #0aebd8;
  color: #fff;
  text-align: center;
  padding: 1em;
}
